*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    /* background: #f1f3fb; */
    background: #11131e;
}
::selection{
    color: #fff;
    background: #11131e;
}
.view-model, .popup{
    position: absolute;
    left: 50%;
}
button{
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.view-model{
    top: 50%;
    color: #11131e;
    font-size: 18px;
    padding: 10px 25px;
    background: #fff;
    transform: translate(-50%, -50%);
}